{% section 'page' %}

<div class="customer__form" style="margin-top:2em;">
    {% form 'customer_login' %}
        {{ form.errors | default_errors }}

        {% assign login = 'customer_area.forms.login' | t %}

        <label for="customer_email">{{ 'customer_area.forms.email' | t }}</label>
        <input type="email" name="customer[email]"/>

        <label for="customer_password">{{ 'customer_area.forms.password' | t }}</label>
        <input type="password" name="customer[password]"/>

        {% render 'submit-button', text: login, type: 'primary', class: 'button--submit' %}
    {% endform %}
</div>
