{% if customer %}
    Redirecting to checkout...
    <script>
        window.location.href = '/pages/pre-checkout';
    </script>
{% else %}
    <div class="customer__form" style="text-align: center; padding: 3em 0;">
        <h1>Welcome back<span class="email-display"></span>.<br /><br /></h1>


        {% form 'recover_customer_password' %}
            <input type="hidden" name="email" id="emailInput" />
            <input type="hidden" name="return_to" value="/pages/reset-password-email-sent">
            <input class="button button--primary button--filled button--primary__filledbutton button--full-width" id="sendEmailButton" type="submit" value="Set my password" style="display: none;" />
        {% endform %}
        <br />
        <a href="{{routes.account_login_url}}" class="button button--primary button--filled button--primary__filled button--full-width">I know my password</a>
        <br /><br />
        <a href="/pages/pre-checkout" class="button button--primary button--filled button--primary__filled button--full-width">Checkout as guest</a>
    </div>
    <style>
        .customer__form input{
            margin-bottom: 0 !important;
        }
    </style>
    <script>
        const emailDisplayElementCollection = document.getElementsByClassName('email-display');
        const emailInput = document.getElementById('emailInput');
        const emailValue = localStorage.getItem('email');
        const emailButton = document.getElementById('sendEmailButton');

        if(emailInput && emailValue){
          emailButton.style.display = "block";
          emailInput.value = emailValue;
          for(let element of emailDisplayElementCollection){
            element.innerHTML = `,<br /> ${emailValue}`;
          }
        }
    </script>
{% endif %}
