<!-- /templates/customers/reset_password.liquid -->


<div class="customer__form">
    <h1><br />Create your account password.<br /><br /></h1>
{% form 'reset_customer_password' %}
{{ form.errors | default_errors }}

<label for="password">New Password</label>
<input type="password" value="" name="customer[password]" size="16" />

<label for="password_confirmation">New Password Confirmation</label>
<input
  type="password"
  value=""
  name="customer[password_confirmation]"
  size="16"
/>

<input type="submit" class="button button--primary button--filled button--primary__filled" value="Create Password" />

{% endform %}
</div>
<br /><br />
