.header{
    background-color: #000000 !important;
    color: #fff !important;
    background-image: url(korg_header_background.jpg) !important;
    background-size: cover !important;
    background-position: center center !important;
}
.header .links{
    background: #000000 !important;
}
.header a{
    color: #fff !important;
}
.header a:hover{
    color: #fff !important;
}

main{
    flex: none !important;
}

.with-collection .logo-text{
    color: greenyellow !important;
}

#filterSidebar {
    background: #000000 !important;
}

#filterSidebar a{
    color: #fff !important;
}

#shopify-section-product-list__filters{
    border: none !important;
    max-width: 300px;
    background: #000 !important;
}

@media only screen and (min-width:767px){
    .container > main{
        /* background: linear-gradient(90deg, #000 50%, #fff 51%) */
    }
}
