{% render 'shogun-products', content: product %}
{{product.metafields.shogun.above}}
<div class="row" style="height: 43px">

</div>
{% unless settings.breadcrumbs == false %}

    <div class="row">
        <div class="col-12 breadcrumbs--default">
            {% render 'breadcrumbs' %}
        </div>
    </div>
{% endunless %}
{% section 'product-page__product' %}
{% section 'api__upsell--inline' %}
{% section 'product-page__recommended' %}

{% comment %} PRODUCT FORM CAN BE FOUND INSIDE 'product-page__product.liquid' {% endcomment %}


{{product.metafields.shogun.below}}

