{% if section.settings.enabled %}
    <div class="modal-container">
        <div class="modal">
            <header class="modal-header">
                {{ section.settings.title }}
                <button class="modal-close-button">
                    x
                </button>
            </header>
            <main>
                {{ section.settings.content }}
                {%- for block in section.blocks %}
                    <div data-slide data-type="bannerSlider" class="slide">
                        {% render 'get-block', block: block, first: forloop.first %}
                    </div>
                {% endfor %}
            </main>
        </div>
    </div>
{% endif %}

{% javascript %}
    //$('#exit-intent').slideshow();
{% endjavascript %}

{% stylesheet %}
    .modal-container{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(255,255,255,0.75);
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: #fff;
    }

    .modal-header{
        text-align: center;
        flex-grow: 0;
        padding: 0.5em 1em;
        border-bottom: 1px solid #ddd;
        font-weight: bolder;
    }
    .modal-close-button{
        float: right;
    }
    .modal-container main{
        padding: 0.5em 1em;
    }
    @media screen and (min-width: 500px){
        .modal{
            width: 80vw;
            height: 80vh;
            border: 1px solid #ddd;
            box-shadow: 0px 0.5em 1em rgba(0,0,0,0.2);
            border-radius: 0.5em;
            max-width: 600px;
        }
    }
{% endstylesheet %}
{% schema %}
{
  "name": "Exit Intent Popup",
  "max_blocks": 2,
  "settings": [
    {
      "id": "enabled",
      "label": "Enable exit intent popup",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "title",
      "label": "Title",
      "type": "text",
      "placeholder": "Enter a Title",
      "default": "Wait!"
    },
    {
      "id": "content",
      "label": "Content",
      "type": "richtext",
      "default": "<p>Don't go!</p>"
    }
  ],
  "blocks": [
    {
    "type": "quote",
    "name": "Quote",
    "settings": [
      {
        "id": "content",
        "type": "text",
        "label": "Quote"
      }
    ]
  }
]
}
{% endschema %}
