

<div data-search-container class="search__container--abs">
    <div class="search__overlay" onclick="closeSearch(this)"></div>
    <div class="search__container--wrapper">
        <h4 class="search__title">{{ 'general.search.heading' | t }} <span
                    onclick="closeSearch(this)">{% render 'get-icon', icon: 'close' %}</span></h4>
        <form method="get" action="/search">
            <button type="submit" class="search__icon--submit">{% render 'get-icon', icon: 'search' %}</button>
            <input autocomplete="off" placeholder="{{ 'general.search.placeholder' | t }}" name="q"
                   onfocus="openSearch(this)" type="search" data-search>
        </form>
    </div>
    <div class="search__results search__results--abs" data-search-suggest>
    </div>
</div>


{% render 'header__default' with section as section %}


{% schema %}
{
"name": {
"en": "Header settings"
},
"settings": [
{
"type": "header",
"content": "Help"
},
{
"type": "paragraph",
"content": "[Click here to follow an interactive Tutorial](https://vimeo.com/458159291)"
},
{
"type": "header",
"content": "Global header settings"
},
{
"type": "select",
"id": "layout",
"label": "Section layout",
"options": [
{"value": "default", "label": "Global default"},
{"value": "boxed", "label": "Boxed"},
{"value": "stretchBg", "label": "Full width background"},
{"value": "stretchContent", "label": "Full width"}
],
"default": "default"
},
{
"type": "select",
"id": "type",
"label": "Header type",
"options": [
{"value": "inline", "label": "Standard inline"},
{"value": "inline-search", "label": "Logo top, inline search"},
{"value": "logo-top", "label": "Logo top, search icon"},
{"value": "sidebar", "label": "Sidebar"}
],
"default": "inline"
},
{
"type": "range",
"label": "Height",
"id": "minHeight",
"min": 0,
"max": 150,
"step": 5,
"unit": "px",
"default": 0
},
{
"type": "range",
"label": "Border radius",
"id": "borderRadius",
"min": 0,
"max": 50,
"step": 1,
"unit": "px",
"default": 0
},
{
"type": "checkbox",
"id": "shadow",
"label": "Enable shadow",
"default": true
},
{
"type": "link_list",
"id": "menuLinks",
"label": "Menu links"
},
{
"type": "checkbox",
"id": "megamenu",
"label": "Enable megamenu",
"default": true
},
{
"type": "range",
"label": "Logo width",
"id": "logoWidth",
"min": 50,
"max": 300,
"step": 5,
"unit": "px",
"default": 260
},
{
"type": "range",
"label": "Logo height",
"id": "logoHeight",
"min": 0,
"max": 500,
"step": 5,
"unit": "px",
"default": 0,
"info": "Maximum logo height. If set to 0 (zero) it will take up as much space as needed."
},
{
"type": "checkbox",
"id": "sticky",
"label": "Make the header stick to top",
"default": true
},
{
"type": "checkbox",
"id": "overlap",
"label": "Overlay header over content",
"default": false,
"info": "If selected header will overlap over content. Automatically selected if a 'Transparent header' is activated."
},
{
"type": "range",
"label": "Content margin",
"id": "contentMargin",
"min": 0,
"max": 200,
"step": 5,
"unit": "px",
"default": 0
},
{
"type": "header",
"content": "Header buttons"
},
{
"type": "radio",
"id": "headerUtility",
"options": [
{"value": "none", "label": "Disable"},
{"value": "buttons", "label": "Show buttons"},
{"value": "checkout", "label": "Quick Checkout"}
],
"label": "Header buttons",
"default": "buttons"
},
{
"type": "product",
"label": "Quick checkout product",
"id": "quickProduct"
},
{
"type": "header",
"content": "Transparent header settings"
},
{
"type": "checkbox",
"id": "transparent",
"label": "Make the header transparent",
"default": false
},
{
"type": "color",
"id": "transparentContentColor",
"label": "Transparent text color",
"default": "#000000"
},
{
"type": "header",
"content": "Link style"
},
{
"type": "color",
"id": "barContentColor",
"label": "Text color",
"default": "#000000"
},
{
"type": "color",
"id": "activeFillColor",
"label": "Active text accent color",
"default": "#000000"
},
{
"type": "color",
"id": "activeContentColor",
"label": "Active text color",
"default": "#FFFFFF"
},
{
"type": "select",
"id": "hoverStyle",
"label": "Hover style",
"options": [
{"value": "fill", "label": "Fill"},
{"value": "underline", "label": "Underline"},
{"value": "opacity", "label": "Opacity"},
{"value": "strikethrough", "label": "Line through text"},
{"value": "dotBelow", "label": "Dot below"},
{"value": "dotAbove", "label": "Dot above"}
],
"default": "fill"
},
{
"id": "fontSize",
"type": "select",
"label": "Font size",
"options": [
{"value": "small", "label": "Small"},
{"value": "base", "label": "Base"},
{"value": "medium", "label": "Medium"},
{"value": "big", "label": "Big"}
],
"default": "base"
},
{
"type": "checkbox",
"label": "Use a custom font family",
"id": "customFont",
"default": false
},
{
"id": "fontFamily",
"label": "Font Family",
"type": "font_picker",
"default": "work_sans_n6"
},
{
"type": "header",
"content": "Inline/Bottom header settings"
},
{
"type": "radio",
"id": "logoPosition",
"label": "Logo position",
"default": "left",
"options": [
{"value": "left", "label": "Left"},
{"value": "center", "label": "Center"}
]
},
{
"type": "color",
"id": "barFillColor",
"label": "Background color",
"default": "#FFFFFF"
},
{
"type": "header",
"content": "Logo top header settings"
},
{
"type": "color",
"id": "topBarFillColor",
"label": "Top part background color",
"default": "#FFFFFF"
},
{
"type": "color",
"id": "topBarContentColor",
"label": "Top part text color",
"default": "#000000"
},
{
"type": "paragraph",
"content": "'Top part' settings apply only when the logo is positioned on 'top' and represents colors of that part of the header."
},
{
"type": "select",
"id": "linksAlignment",
"label": "Links alignment (left to right)",
"options": [
{"value": "start", "label": "Left"},
{"value": "center", "label": "Center"},
{"value": "end", "label": "Right"}
],
"default": "center"
},
{
"type": "header",
"content": "Inline Search"
},
{
"type": "color",
"label": "Content color",
"id": "searchContent",
"default": "rgba(0,0,0,0)"
},
{
"type": "color",
"label": "Background color",
"id": "searchFill",
"default": "rgba(0,0,0,0)"
},
{
"type": "header",
"content": "Cart"
},
{
"type": "select",
"label": "Cart icon",
"id": "cartIcon",
"options": [
{"value": "shopping-bag", "label": "Bag"},
{"value": "shopping-cart", "label": "Cart"},
{"value": "shopping-basket", "label": "Basket"}
],
"default": "shopping-cart"
}
]
}
{% endschema %}
